.detail-banner{ 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-banner img{
    height: 200px;
    width: 200px;
}
.league-details-container{
    background: #3333ff;;
    color: white;
    border-radius: 20px;
}
.league-details-right img{
    max-height: 150px;
    width: 100%;
}
.details-list li{
    list-style: none;
}