.banner{
    background:linear-gradient(0deg, rgba(53, 51, 52, 0.3), rgba(0, 0, 0, 0.5)), url('../../images/Rectangle\ 21.png');    
    min-height: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}